<template>
  <div class="section">
    <div class="container">
      <login-popup v-if="!authenticated"></login-popup>
      <div
        v-if="authenticated"
        class="columns"
      >
        <div class="column">
          <div class="box">
            <h1 class="subtitle">
              Account
              <router-link
                style="float: right"
                class="button"
                :to="back"
              >Back</router-link>
            </h1>
            <p>
              <strong>Username:</strong>
              {{ user.username }}
            </p>
            <p>
              <strong>Email:</strong>
              {{ user.email }}
            </p>
          </div>
        </div>

        <div class="column">
          <div class="box">
            <h2 class="subtitle">Edit account</h2>

            <WebAuthnCreds />

            <div>
              <h2
                id="changepassword"
                class="button"
                @click="cp_active = !cp_active"
              >
                Change password
              </h2>
              <form
                v-if="cp_active"
                @submit.prevent
              >
                <div
                  v-if="account.password_set"
                  class="field"
                >
                  <label
                    class="label"
                    for="current_password"
                  >Enter your current password</label>
                  <div class="control">
                    <input
                      @input="current_password_error = false"
                      id="current_password"
                      class="input"
                      type="password"
                      v-model="form.current_password"
                    />
                  </div>
                </div>
                <p
                  v-if="current_password_error"
                  class="notification is-warning"
                >
                  You entered a wrong password
                </p>
                <div class="field">
                  <label
                    class="label"
                    for="new_password_1"
                  >Enter a new password</label>
                  <div class="control">
                    <input
                      @input="passwords_dont_match = false"
                      id="new_password_1"
                      class="input"
                      type="password"
                      v-model="form.new_password_1"
                    />
                  </div>
                </div>
                <div class="field">
                  <label
                    class="label"
                    for="new_password_2"
                  >New password again</label>
                  <div class="control">
                    <input
                      @input="passwords_dont_match = false"
                      id="new_password_2"
                      class="input"
                      type="password"
                      v-model="form.new_password_2"
                    />
                  </div>
                </div>
                <p
                  v-if="passwords_dont_match"
                  class="notification is-warning"
                >
                  The new passwords do not match
                </p>
                <button
                  id="submitpasswordchange"
                  type="submit"
                  class="button is-primary"
                  @click="checkPasswords"
                >
                  Submit
                </button>
                <hr />
              </form>
            </div>

            <div>
              <h2
                id="changeemail"
                class="button"
                @click="ce_active = !ce_active"
              >
                Change email
              </h2>
              <form
                v-if="ce_active"
                @submit.prevent
              >
                <div class="field">
                  <label
                    class="label"
                    for="new_email"
                  >Enter a new email</label>
                  <div class="control">
                    <input
                      id="new_email"
                      class="input"
                      type="text"
                      v-model="form2.new_email"
                      @input="email_not_valid = false"
                    />
                  </div>
                </div>
                <p
                  v-if="email_not_valid"
                  id="email_warn"
                  class="notification is-warning"
                >
                  The new email seems not valid, click submit again if you are
                  sure it is right.
                </p>
                <button
                  id="submitemailchange"
                  type="submit"
                  class="button is-primary"
                  @click="checkEmail"
                >
                  Submit
                </button>
                <hr />
              </form>
            </div>

            <div>
              <h2
                id="changeusername"
                class="button"
                @click="cu_active = !cu_active"
              >
                Change username
              </h2>
              <form
                v-if="cu_active"
                @submit.prevent
              >
                <div class="field">
                  <label
                    class="label"
                    for="new_username"
                  >Enter a new username</label>
                  <div class="control">
                    <input
                      id="new_username"
                      class="input"
                      type="text"
                      v-model="form3.new_username"
                    />
                  </div>
                </div>
                <p
                  v-if="username_taken"
                  id="username_taken"
                  class="notification is-warning"
                >
                  This username is already occupied
                </p>
                <button
                  id="submitusernamechange"
                  type="submit"
                  class="button is-primary"
                  @click="changeUsername"
                >
                  Submit
                </button>
                <hr />
              </form>
            </div>

            <div v-if="account.google_linked">
              <h2
                id="unlinkgoogle"
                class="button"
                @click="ug_active = !ug_active"
              >
                Unlink Google
              </h2>
              <form
                v-if="ug_active"
                @submit.prevent="unlinkGoogle"
              >
                <p v-if="!account.password_set">
                  First set a password before unlinking Google
                </p>
                <div class="field">
                  <label
                    v-if="account.password_set"
                    class="label"
                  >Click to unlink Google</label>
                  <div class="control">
                    <button
                      v-if="account.password_set"
                      style="margin-top: 0.5rem"
                      id="unlinkgooglebutton"
                      type="submit"
                      class="button is-primary"
                    >
                      Unlink Google
                    </button>
                  </div>
                </div>
                <hr />
              </form>
            </div>

            <div>
              <h2
                id="deleteaccount"
                class="button is-danger is-outlined"
                @click="delete_active = !delete_active"
              >
                Delete account
              </h2>
              <form
                v-if="delete_active"
                @submit.prevent
              >
                <p>
                  Warning: this will permanently and irreversibly delete all
                  data associated with your account.
                </p>
                <div class="field">
                  <label
                    class="label"
                    for="confirm_delete"
                  >Please type your username to confirm deletion</label>
                  <div class="control">
                    <input
                      id="confirm_delete"
                      class="input"
                      type="text"
                      v-model="form4.username"
                      @input="delete_username_error = false"
                    />
                  </div>
                </div>
                <p
                  v-if="delete_username_error"
                  id="delete_username_error"
                  class="notification is-warning"
                >
                  Username does not match, check your username on this page.
                </p>
                <button
                  id="delete_account_button"
                  type="submit"
                  class="button is-danger"
                  @click="deleteAccount"
                >
                  Submit
                </button>
                <hr />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"
import LoginPopup from "./LoginPopup.vue"
import WebAuthnCreds from './WebAuthnCreds.vue'

export default {
  props: {
    back: Object
  },
  components: {
    LoginPopup,
    WebAuthnCreds
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user: state => state.auth.user,
    google_client_id: state => state.auth.google_client_id
  }),
  created() {
    this.$api.get("accounts/get-account/", response => {
      this.account = response
    })
  },
  data() {
    return {
      account: {
        google_linked: false,
        password_set: true
      },
      cp_active: false,
      ce_active: false,
      passwords_dont_match: false,
      current_password_error: false,
      form: {
        current_password: "",
        new_password_1: "",
        new_password_2: ""
      },
      form2: {
        new_email: ""
      },
      email_not_valid: false,
      form3: {
        new_username: ""
      },
      cu_active: false,
      username_taken: false,
      delete_active: false,
      form4: {
        username: ""
      },
      ug_active: false,
      delete_username_error: false
    }
  },
  methods: {
    checkPasswords() {
      if (this.form.new_password_1 !== this.form.new_password_2) {
        this.passwords_dont_match = true
        return
      }
      this.$api.post(
        "accounts/changepassword/",
        this.form,
        response => {
          if (response.success) {
            this.cp_active = false
            this.account.password_set = true
            this.$notify({
              text: "Password changed",
              style: "success"
            })
          } else {
            this.current_password_error = true
          }
        },
        true
      )
    },
    checkEmail() {
      if (
        !/^\S+@\S+\.\S+$/.test(this.form2.new_email) &&
        !this.email_not_valid
      ) {
        this.email_not_valid = true
        return
      }
      this.$api.post("accounts/changeemail/", this.form2, response => {
        this.ce_active = false
        this.$store.commit("auth/new_email", this.form2.new_email)
        this.$notify({
          text: `Email changed to ${this.form2.new_email}`,
          style: "success"
        })
      })
    },
    changeUsername() {
      this.$api.post("accounts/changeusername/", this.form3, response => {
        if (response.success) {
          this.cu_active = false
          this.$store.commit("auth/new_username", this.form3.new_username)
          this.$notify({
            text: `Username changed to ${this.form3.new_username}`,
            style: "success"
          })
        } else {
          this.username_taken = true
        }
      })
    },
    unlinkGoogle() {
      this.$api.post("accounts/unlinkgoogle/", {}, response => {
        if (!response.success) {
          this.$notify({
            text: "An error occured",
            style: "error"
          })
          return
        }
      })
      if (this.google_client_id) {
        google.accounts.id.revoke(this.user.email)
      } else {
        this.$notify({
          text: "Google Client ID unkown",
          style: "error"
        })
      }
      this.account.google_linked = false
    },
    deleteAccount() {
      if (this.user.username !== this.form4.username) {
        this.delete_username_error = true
        return
      }
      this.$api.post("accounts/deleteaccount/", this.form4, response => {
        if (response.success) {
          if (this.google_client_id) {
            google.accounts.id.revoke(this.user.email)
          }
          this.$store.commit("auth/logout")
          this.$router.push({ name: "ps:bye" })
        }
      })
    }
  }
}
</script>

<style scoped>
.box>div {
  margin-bottom: 1rem;
}
</style>


