<template>
  <div class="section">
    <div class="container">
      <div class="box content">
        <h2>Nieuw apparaat toevoegen</h2>
        <p>
          Door Webauthn kan je inloggen zonder wachtwoord. Je apparaat wordt dan met je username gekoppeld aan je
          account. Op deze pagina kan je het apparaat waar je nu op zit koppelen.</p>
        <p>
          Op de account pagina als je ingelogd bent kan je een code aanmaken om een nieuw apparaat toe te voegen. Vul
          hier die code en je username in om dit apparaat te koppelen.
        </p>
        <TextInput
          v-model="form.username"
          label="Username"
        />
        <TextInput
          v-model="form.code"
          label="Code"
        />
        <button
          type="button"
          class="button is-info"
          @click="add"
        >Voeg dit apparaat toe</button>
      </div>
    </div>
  </div>
</template>

<script>
import TextInput from '../inputs/TextInput.vue'
import { create, parseCreationOptionsFromJSON } from "@github/webauthn-json/browser-ponyfill"

export default {
  components: {
    TextInput
  },
  data() {
    return {
      form: {
        username: "",
        code: ""
      }
    }
  },
  methods: {
    add() {
      this.$api.post('webauthn/api/new-device/start-add/', this.form, async (registerOptions) => {
        const credential = await create(parseCreationOptionsFromJSON({ publicKey: registerOptions }))
        this.$api.post(`webauthn/api/register/`, credential, (data) => {
          this.$api.get(
            'accounts/login/',
            response => {
              if (response.authenticated) {
                this.$store.commit('auth/login_success', response.user)
                this.$router.push({ name: 'accounts:home' })
              } else {
                this.$store.commit('auth/logout')
              }
            },
            true
          )
        })
      })
    }
  }
}
</script>