<template>
  <div class="box">
    <h2 style="font-weight: bold">Linked devices</h2>
    <div
      style="margin-bottom: 0.4em; display: flex; justify-content: space-between;"
      v-for="cred in creds"
      :key="cred.id"
    >
      <span>
        Device {{ cred.id }} - linked at
        {{ $filters.dutchDateTime(cred.created) }}
        <span
          v-if="cred.current_session"
          style="font-style: italic"
        >(current device)</span>
      </span>
      <button
        v-if="cred.current_session === false"
        type="button"
        class="button is-danger is-outlined is-small"
        style="margin-left: 0.4em"
        @click="removeDevice(cred.id)"
      >
        Remove device {{ cred.id }}
      </button>
    </div>
    <hr />
    <button
      v-if="newDeviceCode === null"
      type="button"
      class="button is-small"
      @click="startAdd"
    >
      Add new device
    </button>
    <div
      v-else
      class="notification"
    >
      <p>
        New device code: <b>{{ newDeviceCode }}</b><br /><br />
        On the new device try logging in with your username and follow the instructions.<br /><br />
        Or go directly to
        <a
          style="word-break: break-all"
          :href="newDeviceAddLocation"
        >{{ newDeviceAddLocation }}</a> to fill in the code.
      </p>
      <button
        type="button"
        class="delete"
        aria-label="Delete code"
        @click="deleteCode"
      ></button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      creds: [],
      newDeviceCode: null,
      newDeviceAddLocation: window.location.origin + '/app/' + this.$router.resolve({ name: "accounts:add-new-device" }).href,
    }
  },
  mounted() {
    this.$api.get('webauthn/api/creds/', data => {
      this.creds = data.creds
    })
    this.$api.get('webauthn/api/new-device/', data => {
      this.newDeviceCode = data.code
    })
  },
  methods: {
    removeDevice(id) {
      this.$api.delete(`webauthn/api/creds/${id}/`, () => {
        this.creds = this.creds.filter((cred) => cred.id !== id)
      })
    },
    startAdd() {
      this.$api.post(`webauthn/api/new-device/`, {}, data => {
        this.newDeviceCode = data.code
      })
    },
    deleteCode() {
      this.$api.delete('webauthn/api/new-device/', () => {
        this.newDeviceCode = null
      })
    }
  }
}
</script>