<template>
  <form
    class="box"
    @submit.prevent="submit"
    :data-testid="`${context}-form`"
  >
    <h3 class="subtitle">
      {{ title }}
      <a
        v-if="closeButton"
        style="float: right"
        class="delete"
        @click="$emit('close')"
      ></a>
    </h3>
    <FormInput
      v-for="(field, name) in config.fields"
      :key="name"
      :context="context"
      v-model="localValue[name]"
      :field="field"
      :errResponse="errResponse[name]"
    >
      <template v-slot:through-model-summary="item">
        <!-- @slot forwarded to ModelForm's though-model-summary slot -->
        <slot
          name="through-model-summary"
          v-bind:item="item.item"
        />
      </template>
    </FormInput>
    <!-- @slot space after the configured inputs, to add custom inputs that don't fit in the configuration -->
    <slot
      name="extra-form-inputs"
      :context="context"
    />
    <div
      v-if="errResponse['non_field_errors']"
      class="notification is-danger"
    >
      <ul>
        <li
          v-for="error in errResponse['non_field_errors']"
          :key="error"
        >
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button
        class="button is-primary"
        type="submit"
      >Submit</button>
      <button
        type="button"
        @click="del"
        v-if="updateflag && canDelete"
        class="button is-danger is-outlined"
      >
        Delete
      </button>
    </div>
  </form>
</template>

<script>
import FormInput from "./inputs/FormInput.vue"

/** A component that renders a form to create, update and delete an item. 
 * It calls POST (or PUT/PATCH if the modelValue contains `id`) on the given url, and optionally also updates an apiStore. 
 */
export default {
  components: {
    FormInput
  },
  props: {
    /** The object containing the `name: value`'s */
    modelValue: Object,
    /** 
     * The configuration of the form consisting of the url and fields containing name: field properties.
     * 
     * Field: {
     *   type: text | date | datetime | select | numer | throughModel | checkbox | file | textarea | hidden,
     *   readOnly: boolean (renders hidden div if true)
     *   label: 'string'
     *   // Refer to the input components for other parameters
     * }
     */
    config: Object,
    /** Used in the title and added in the html id */
    modelName: {
      type: String,
      required: true
    },
    /** If given will call `/add`, `/update` and `/remove` after a successful call */
    apiStore: String,
    /** Show a close cross in the title */
    closeButton: {
      type: Boolean,
      default: false
    },
    /** Show full screen overlay during the call */
    loadingScreenOnSave: {
      type: Boolean,
      default: false
    },
    /** Show a delete button */
    canDelete: {
      type: Boolean,
      default: true
    },
    /** Changes HTTP method from PUT to PATCH if updating */
    partialUpdate: {
      type: Boolean,
      default: false
    },
    /** Always keep the `id` property in the modelValue, otherwise only keep the `id` if the config has it */
    keepId: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    title() {
      if (this.updateflag) {
        return "Update " + this.modelName
      } else {
        return "Add " + this.modelName
      }
    },
    context() {
      return this.modelName.replaceAll(" ", "-").toLowerCase()
    },
    updateflag() {
      return this.localValue?.id !== undefined && this.localValue?.id !== null
    },
    verb() {
      if (!this.updateflag) {
        return 'post'
      }
      if (this.partialUpdate) {
        return 'patch'
      }
      return 'put'
    },
    url() {
      if (this.updateflag) {
        return this.config.url + this.localValue?.id + "/"
      } else {
        return this.config.url
      }
    },
    localValue: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit("update:modelValue", newValue)
      }
    }
  },
  data() {
    return {
      errResponse: {}
    }
  },
  methods: {
    submit() {
      this.errResponse = {}
      const submitForm = {}
      for (let key in this.localValue) {
        if (this.config.fields.hasOwnProperty(key) && this.localValue[key] === null && this.config.fields[key].remove_null === true) {
          continue
        }
        submitForm[key] = this.localValue[key]
      }
      const args = [
        this.url,
        submitForm,
        response => {
          if (this.apiStore) {
            if (this.updateflag) {
              this.$store.commit(`${this.apiStore}/update`, response)
            } else {
              this.$store.commit(`${this.apiStore}/add`, response)
            }
          }
          this.$emit("submit-form", {
            action: this.verb,
            data: response
          })
          const newForm = {}
          for (let key in this.localValue) {
            if (key === 'id' && this.keepId === true) {
              newForm[key] = this.localValue[key]
            } else if (key === 'id' || !this.config.fields.hasOwnProperty(key)) {
              continue
            } else if (this.config.fields[key].type === 'throughModel') {
              newForm[key] = []
            } else if (this.config.fields[key].hasOwnProperty('default')) {
              newForm[key] = this.config.fields[key].default
            } else {
              newForm[key] = this.localValue[key]
            }
          }
          this.localValue = newForm
        },
        this.loadingScreenOnSave,
        errResponse => {
          if (errResponse.status === 400) {
            errResponse.json().then(r => {
              this.errResponse = r
            })
          } else {
            this.$notify({
              text: "An error occured",
              style: "error"
            })
          }
        }
      ]
      if (this.verb === 'put') {
        this.$api.put(...args)
      } else if (this.verb === 'post') {
        this.$api.post(...args)
      } else {
        this.$api.patch(...args)
      }
    },
    del() {
      this.$api.delete(this.url, _ => {
        if (this.apiStore) {
          this.$store.commit(`${this.apiStore}/remove`, this.localValue.id)
        }
        this.$emit("submit-form", { action: "delete", data: { id: this.localValue.id } })
      })
    }
  }
}
</script>
