<template>
  <td
    v-if="field.format === 'currency'"
    style="text-align: right"
  >
    {{ $filters.currency(content) }}
  </td>
  <td v-else-if="field.format === 'date'">{{ $filters.dutchMonthYear(content) }}</td>
  <td v-else>{{ content }}</td>
</template>

<script>
export default {
  props: ['field', 'item', 'name'],
  computed: {
    content() {
      if (this.field.content !== undefined) {
        return this.field.content(this.item)
      }
      if (this.field.type === 'select') {
        if (this.item[this.name] === null || this.item[this.name][this.field.optionName] === undefined) {
          return this.item[this.name]
        }
        return this.item[this.name][this.field.optionName]
      } else if (this.field.type === 'throughModel') {
        return this.item[this.name].length
      } else {
        return this.item[this.name]
      }
    }
  }
}
</script>
