<template>
  <div>
    <h2 class="subtitle">{{ modelName }}</h2>
    <button
      type="button"
      v-if="createNew"
      class="button is-small"
      @click="newItem"
    >
      New {{ modelName }}
    </button>
    <table
      class="table is-striped"
      :aria-label="modelName"
    >
      <thead>
        <tr>
          <th
            scope="col"
            v-for="field in visibleFields"
            :key="field.label"
            :class="{ 'is-hidden-mobile': hideOnMobile.includes(field.label) }"
          >
            {{ field.label }}
          </th>
          <!-- @slot Add headers to the table -->
          <slot name="extra-table-header" />
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          @click="$emit('select-item', item)"
          v-for="item in data.data"
          :key="item.id"
          :data-testid="`${modelSlug}-${item.id}`"
        >
          <ModelTableTd
            v-for="(field, name) in visibleFields"
            :class="{ 'is-hidden-mobile': hideOnMobile.includes(name) }"
            :field="field"
            :item="item"
            :name="name"
            :key="field.label"
          />
          <!-- @slot add extra data to the table row, gives the slot the item `v-slot:extra-table-column="{ item }"` -->
          <slot
            name="extra-table-column"
            :item="item"
          ></slot>
          <td>
            <div class="buttons">
              <button
                v-if="updateable"
                type="button"
                class="button is-small"
                @click.stop="updateItem(item)"
                :data-testid="`${modelSlug}-${item.id}-update`"
              >
                Update
              </button>
              <button
                v-if="instanceLink"
                type="button"
                class="button is-small"
                @click.stop="goToItem(item)"
                :data-testid="`${modelSlug}-${item.id}-goto`"
              >
                View
              </button>
              <button
                v-if="quickDelete"
                type="button"
                class="button is-danger is-small"
                @click.stop="deleteItem(item)"
                :data-testid="`${modelSlug}-${item.id}-delete`"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav
      v-if="data.next || data.previous"
      class="pagination"
      role="navigation"
      aria-label="pagination"
    >
      <a
        v-if="data.previous"
        class="pagination-previous"
        @click="$store.dispatch(`${apiStore}/previousPage`)"
      >Previous</a>
      <a
        v-if="data.next"
        class="pagination-next"
        @click="$store.dispatch(`${apiStore}/nextPage`)"
      >Next</a>
    </nav>
    <Modal
      v-if="localValue"
      :active="formActive"
      @close="formActive = false"
    >
      <ModelForm
        :data-testid="`${modelSlug}-form`"
        :modelName="modelName"
        :config="config"
        :api-store="apiStore"
        @submit-form="formSubmitted"
        v-model="localValue"
      >
        <template v-slot:extra-form-inputs>
          <!-- @slot forwarded to FormModel -->
          <slot name="extra-form-inputs"></slot>
        </template>
        <template v-slot:through-model-summary>
          <!-- @slot forwarded to FormModel -->
          <slot name="through-model-summary" />
        </template>
      </ModelForm>
    </Modal>
  </div>
</template>

<script>
import Modal from "./Modal.vue"
import ModelForm from "./ModelForm.vue"
import ModelTableTd from "./ModelTableTd.vue"

/** A full CRUD component, showing data in a table with pagination if needed and create, update, delete functionality. */
export default {
  components: {
    Modal,
    ModelForm,
    ModelTableTd
  },
  props: {
    /** Data to show in the table, data.data should be an array of objects
     * and optionally have a truey data.previous, date.next for the next or previous page. */
    data: Object,
    /** Mostly same config object as ModelForm, for each field can pass in property format: 'date' | 'currency' to format the given value in the table */
    config: Object,
    /** modelValue for the opened ModelForm */
    modelValue: Object,
    /** Used as title */
    modelName: String,
    /** The Vuex namespace to use. Used in the quick delete, ModelForm and for next and previous page. */
    apiStore: String,
    /** If given shows a link to open each row. Object should contain `url`.
     * If url contains `{}` you can also pass `param` with a string containing which property of the row should be replaced into the url. */
    instanceLink: Object,
    /** If given this is the Vue Router name the new button goes to. Otherwise will open ModelForm in a Modal */
    newItemLink: {
      type: String,
      default: null
    },
    /** Pass in false to hide the new button */
    createNew: {
      type: Boolean,
      default: true
    },
    /** Pass in true to show a delete button on each row */
    quickDelete: {
      type: Boolean,
      default: false
    },
    /** Pas in false to hide the update button */
    updateable: {
      type: Boolean,
      default: true
    },
    /** Array of strings containing the name of columns to hide on mobile */
    hideOnMobile: {
      type: Array,
      default() {
        return []
      }
    },
    /** if given only shows these fields of the config in the table */
    tableFields: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      formActive: false,
    }
  },
  computed: {
    visibleFields() {
      let result = {}
      if (this.tableFields !== null) {
        for (let key in this.config.fields) {
          if (this.tableFields.includes(key)) {
            result[key] = this.config.fields[key]
          }
        }
      } else {
        for (let key in this.config.fields) {
          if (this.config.fields[key].type !== 'hidden') {
            result[key] = this.config.fields[key]
          }
        }
      }
      return result
    },
    localValue: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit("update:modelValue", newValue)
      }
    },
    modelSlug() {
      return this.modelName.replace(' ', '-').toLowerCase()
    }
  },
  methods: {
    deleteItem(item) {
      this.$api.delete(`${this.config.url}${item.id}/`, response => {
        this.$store.commit(`${this.apiStore}/remove`, item.id)
        this.$emit("submit-form", { action: "delete" })
      })
    },
    goToItem(item) {
      this.$router.push(
        this.instanceLink.link.replace("{}", item[this.instanceLink.param])
      )
    },
    newItem() {
      if (this.newItemLink === null) {
        let newForm = {}
        for (let key in this.localValue) {
          if (key === 'id') {
            continue
          }
          if (this.config.fields[key].hasOwnProperty('default')) {
            newForm[key] = this.config.fields[key].default
          } else {
            newForm[key] = this.localValue[key]
          }
        }
        this.localValue = newForm
        this.formActive = true
      } else {
        this.$router.push({ name: this.newItemLink })
      }
    },
    updateItem(item) {
      let newForm = {}
      for (let key in this.localValue) {
        if (item[key] === undefined && item[`${key}_obj`] !== undefined) {
          newForm[key] = item[`${key}_obj`].id
        } else {
          newForm[key] = item[key]
        }
      }
      newForm.id = item.id
      this.localValue = newForm
      this.formActive = true
    },
    formSubmitted(event) {
      if (event.action === "delete") {
        this.$emit("delete", this.localValue.id)
      } else if (event.action === "post") {
        this.$emit("post", event.data)
      } else if (event.action === "put") {
        this.$emit("put", event.data)
      }
      this.formActive = false
    }
  }
}
</script>
