<script setup>
import { useRegisterSW } from "virtual:pwa-register/vue"

const { offlineReady, needRefresh, updateServiceWorker } = useRegisterSW()

const close = async () => {
  offlineReady.value = false
  needRefresh.value = false
}
</script>

<template>
  <div
    class="pwa-toast"
    role="alert"
    v-if="needRefresh"
  >
    <div class="message">
      <span>
        New version available, click on the reload button to update.
      </span>
    </div>
    <button
      class="button is-small is-primary"
      type="button"
      @click="updateServiceWorker()"
    >Reload</button>
    <button
      class="button is-small"
      @click="close"
      type="button"
    >Not now</button>
  </div>
</template>

<style scoped>
.pwa-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  background-color: white;
}

.pwa-toast .message {
  margin-bottom: 8px;
  background-color: white;
}

.pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
</style>