<template>
  <th scope="col">
    <span class="sorting-label">
      <slot></slot>
    </span>
    <span
      @click="changeSorting"
      class="sorting-icons"
    >
      <span :class="{ hidden: desc }">▴</span>
      <span :class="{ hidden: asc }">▾</span>
    </span>
  </th>
</template>

<script>
export default {
  data() {
    return {
      currentSorting: null
    }
  },
  computed: {
    asc() {
      return this.currentSorting === 'asc'
    },
    desc() {
      return this.currentSorting === 'desc'
    }
  },
  methods: {
    changeSorting() {
      if (this.currentSorting === null) {
        this.currentSorting = 'asc'
        this.$emit('changesort', 'asc')
      } else if (this.currentSorting === 'asc') {
        this.currentSorting = 'desc'
        this.$emit('changesort', 'desc')
      } else {
        this.currentSorting = null
        this.$emit('changesort', null)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sorting-label {
  margin-right: 5px;
}

.sorting-icons {
  cursor: pointer;
}

.hidden {
  display: none;
}
</style>
