<template>
  <div
    v-if="field.readOnly"
    hidden
  ></div>
  <TextInput
    v-else-if="field.type === 'text'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
    :disabled="field.disabled"
  />
  <DateInput
    v-else-if="field.type === 'date'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <DatetimeInput
    v-else-if="field.type === 'datetime'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <SelectInput
    v-else-if="field.type === 'select'"
    v-model="fieldValue"
    :label="field.label"
    :options="field.options"
    :optionValue="field.optionValue"
    :optionName="field.optionName"
    :error="errResponse"
    :html-id="htmlId"
  />
  <NumberInput
    v-else-if="field.type === 'number'"
    v-bind="field.attrs"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <ThroughModelInput
    v-else-if="field.type === 'throughModel'"
    v-model="fieldValue"
    :label="field.label"
    :modelFields="field.modelFields"
    :error="errResponse"
    :html-id="htmlId"
  ><template v-slot:through-model-summary="item">
      <slot
        name="through-model-summary"
        v-bind:item="item.item"
      />
    </template>
  </ThroughModelInput>
  <CheckboxInput
    v-else-if="field.type === 'checkbox'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <FileInput
    v-else-if="field.type === 'file'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <TextAreaInput
    v-else-if="field.type === 'textarea'"
    v-model="fieldValue"
    :label="field.label"
    :error="errResponse"
    :html-id="htmlId"
  />
  <input
    v-else-if="field.type === 'hidden'"
    type="hidden"
    v-model="fieldValue"
  />
  <p v-else>No input control available for type "{{ field.type }}"</p>
</template>

<script>
import TextInput from "./TextInput.vue"
import DatetimeInput from "./DatetimeInput.vue"
import SelectInput from "./SelectInput.vue"
import NumberInput from "./NumberInput.vue"
import DateInput from "./DateInput.vue"
import ThroughModelInput from "./ThroughModelInput.vue"
import CheckboxInput from "./CheckboxInput.vue"
import FileInput from "./FileInput.vue"
import TextAreaInput from "./TextAreaInput.vue"

export default {
  components: {
    TextInput,
    DatetimeInput,
    SelectInput,
    NumberInput,
    DateInput,
    ThroughModelInput,
    CheckboxInput,
    FileInput,
    TextAreaInput
  },
  props: ["field", "errResponse", "modelValue", "context"],
  computed: {
    fieldValue: {
      get() {
        return this.modelValue
      },
      set(fieldValue) {
        this.$emit("update:modelValue", fieldValue)
      }
    },
    htmlId() {
      if (this.context !== null && this.context !== undefined) {
        return `${this.context}-${this.field.label.replaceAll(" ", "-").toLowerCase()}`
      }
      return this.field.label.replaceAll(" ", "-").toLowerCase()
    }
  }
}
</script>