<template>
  <div class="field">
    <label
      v-if="label"
      class="label"
      :for="inputId"
    >{{ label }}</label>
    <template v-if="buttonText">
      <div class="field has-addons">
        <div class="control">
          <input
            v-bind="$attrs"
            :id="inputId"
            :value="modelValue"
            @input="parseInput"
            class="input"
            :class="{ 'is-danger': hasError }"
            type="number"
            inputmode="decimal"
          />
        </div>
        <div class="control">
          <button
            class="button"
            :class="{ 'is-small': $attrs.class?.includes('is-small') }"
            @click="$emit('buttonClick')"
          >{{ buttonText }}</button>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="control">
        <input
          v-bind="$attrs"
          :id="inputId"
          :value="modelValue"
          @input="parseInput"
          class="input"
          :class="{ 'is-danger': hasError }"
          type="number"
          inputmode="decimal"
        />
      </div>
    </template>
    <p
      class="help is-danger"
      v-if="hasError"
    >{{ error[0] }}</p>
  </div>
</template>

<script>
/** Number input, uses parseFloat to return a number if not NaN */
export default {
  inheritAttrs: false,
  props: {
    /** The input value */
    modelValue: [String, Number],
    /** Label for the field */
    label: String,
    /** Array of error messages */
    error: Object,
    /** ID assigned to the input if present, otherwise uses the label */
    htmlId: String,
    /** Text for a button on the right side of the input */
    buttonText: {
      type: String,
      required: false
    }
  },
  computed: {
    hasError() {
      return this.error !== undefined
    },
    inputId() {
      if (this.htmlId === undefined) {
        if (this.label === undefined) {
          return null
        }
        return this.label.replaceAll(" ", "-").toLowerCase()
      } else {
        return this.htmlId
      }
    }
  },
  methods: {
    parseInput(event) {
      if (isNaN(parseFloat(event.target.value))) {
        this.$emit('update:modelValue', event.target.value)
      } else {
        this.$emit('update:modelValue', parseFloat(event.target.value))
      }
    }
  }
}
</script>