<template>
  <div class="field">
    <label
      v-if="label"
      class="label"
      :for="inputId"
    >{{ label }}</label>
    <div class="control">
      <div class="select">
        <select
          :id="inputId"
          v-model="fieldValue"
          :class="{ 'is-danger': hasError }"
        >
          <option
            v-for="option in parsedOptions"
            :value="optionValue === 'object' ? option.id : option[optionValue]"
            :key="option.id"
          >
            {{ option[optionName] }}
          </option>
        </select>
      </div>
      <button
        v-if="canEmpty && fieldValue"
        type="button"
        @click="fieldValue = null"
        style="margin: 0.5rem 0 0 0.5rem"
        class="delete"
      ></button>
    </div>
    <p
      class="help is-danger"
      v-if="hasError"
    >{{ error[0] }}</p>
  </div>
</template>

<script>
/** Select input */
export default {
  props: {
    /** The input value */
    modelValue: [String, Number, Object],
    /** Label for the field */
    label: String,
    /** Array of objects for the select options */
    options: Array,
    /** Property name of the value to use for each option
     * When set to 'object' it uses the id property while setting the
     * entire option object as the modelValue
     */
    optionValue: {
      type: String,
      default: "value"
    },
    /** Property name of the label for the options */
    optionName: {
      type: String,
      default: "name"
    },
    /** Array of error messages */
    error: String,
    /** AD assigned to the input if present, otherwise uses the label */
    htmlId: String,
    /** Show a cross that deselects the current value by setting to null */
    canEmpty: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    parsedOptions() {
      if (typeof this.options[0] === 'string') {
        return this.options.map(option => ({ value: option, name: option }))
      }
      return this.options
    },
    hasError() {
      return this.error !== undefined
    },
    fieldValue: {
      get() {
        if (this.optionValue === 'object' && this.modelValue !== null) {
          return this.modelValue.id
        }
        return this.modelValue
      },
      set(fieldValue) {
        if (this.optionValue === 'object') {
          this.$emit("update:modelValue", this.options.find(option => option.id === fieldValue))
        } else {
          this.$emit("update:modelValue", fieldValue)
        }
      }
    },
    inputId() {
      if (this.htmlId === undefined) {
        if (this.label === undefined) {
          return null
        }
        return this.label.replaceAll(" ", "-").toLowerCase()
      } else {
        return this.htmlId
      }
    }
  }
}
</script>
