<template>
  <div class="summary-row">
    <div>
      <slot>
        <div
          :key="key"
          v-for="(value, key) in model"
        >
          {{ key }}={{ value }}
        </div>
      </slot>
    </div>
    <button
      type="button"
      class="button is-small"
      @click="$emit('edit')"
    >Edit</button>
  </div>
</template>

<script>
export default {
  props: ["model"]
}
</script>

<style scoped>
.summary-row {
  display: flex;
  justify-content: space-between;
}
</style>