<template>
  <div class="field">
    <label
      v-if="label"
      class="label"
    >{{ label }}</label>
    <div>
      <div
        class="through-model-item"
        v-for="(item, index) in fieldValue"
      >
        <div v-if="editing.includes(index)">
          <button
            style="float: right"
            class="delete"
            type="button"
            @click="editing.splice(editing.indexOf(index), 1)"
          >
            Close
          </button>
          <FormInput
            v-for="(field, name) in modelFields"
            v-model="item[name]"
            :field="field"
            :key="name"
            :context="htmlId + '-' + index"
          />
          <button
            type="button"
            class="button is-small is-danger is-outlined"
            @click="removeItem(item)"
          >
            Delete
          </button>
        </div>
        <ThroughModelSummary
          v-else
          :model="item"
          @edit="editing.push(index)"
        >
          <slot
            name="through-model-summary"
            v-bind:item="item"
          />
        </ThroughModelSummary>
      </div>
    </div>
    <button
      type="button"
      class="button is-small mt-2"
      @click="addItem"
    >Add {{ label }}</button>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import ThroughModelSummary from './ThroughModelSummary.vue'

export default {
  props: ["modelFields", "label", "modelValue", "errResponse", "htmlId"],
  components: {
    FormInput: defineAsyncComponent(() => import("./FormInput.vue")),
    ThroughModelSummary
  },
  data() {
    return {
      editing: []
    }
  },
  computed: {
    fieldValue: {
      get() {
        return this.modelValue
      },
      set(fieldValue) {
        this.$emit("update:modelValue", fieldValue)
      }
    }
  },
  methods: {
    addItem() {
      this.editing.push(this.fieldValue.length)
      this.fieldValue.push(
        Object.keys(this.modelFields).reduce((a, fieldName) => {
          a[fieldName] = this.modelFields[fieldName].default
          return a
        }, {})
      )
    },
    removeItem(item) {
      this.fieldValue = this.fieldValue.filter(i => i !== item)
    }
  }
}
</script>

<style scoped>
.through-model-item {
  border-top: 1px solid gray;
  padding: 0.3em;
}

.through-model-item:last-child {
  border-bottom: 1px solid gray;
}
</style>